@charset "utf-8";
html,body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,input,textarea,hr,option,th,td,form,fieldset,legend,img{margin:0;padding:0;}
html,body{width:100%;height:100%;}
input,textarea,hr,select,fieldset,c{border:0;}
address,caption,cite,code,dfn,th,var{font-style: normal;font-weight: normal;}
body{color:#333;font:12px "SimSun","宋体","Arial Narrow","HELVETICA"; background:#fff;}
ul,ol,li{list-style:none;}
img{display:block;border:0;}
a{color:#666;text-decoration:none;}
input{float:left;outline: none;}
/*万能清除法*/
.clearfloat:after{content:"";clear:both;height:0;overflow:hidden;visibility:hidden;display:block;}
.clearfloat{zoom:1;}
/* 清除 */
.clear{clear:both;}
/* 怪异盒模型 */
*{box-sizing:border-box} 
html{width:100%;font-size:31.25vw;}
